<!Doctype html>
<html lang="ko">
    <head>
        <title>처음처럼, 캠핑에 취하다!</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ-ZOoOe">
        <meta name="keywords" content="처음처럼, 캠핑, 캠핑장">
        <meta name="description" content="처음처럼에서 진행하는 캠핑 프로모션 이벤트">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site-name" content="" >
        <meta property="og:title" content="처음처럼, 캠핑에 취하다!">
        <meta property="og:description" content="처음처럼에서 진행하는 캠핑 프로모션 이벤트">
        <meta property="og:image" content="../../content/images/share.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="처음처럼, 캠핑에 취하다!">
        <meta property="twitter:description" content="처음처럼에서 진행하는 캠핑 프로모션 이벤트">
        <meta property="twitter:image" content="../../content/images/share.png">
        
        <link rel="icon" type="image/png" href="../../content/images/favicon.png">
        <link rel="shortcut icon" type="image/png" href="../../content/images/favicon.png">

        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/content.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <main>
            <figure class="main-vsl-figure mo-hide">
                <img src="../../content/images/main-visual-pc.png" alt="">
            </figure> <!-- //PC visual -->
            <figure class="main-vsl-figure mo-show"><img src="../../content/images/main-visual-mo.png" alt=""></figure> <!-- //Mobile visual -->
            <a href="http://bogwang.kr/" target="_blank" title="캠핑장 살펴보기 (새 창 이동)" class="main-btn__camp"><span class="txt-hidden">캠핑장 살펴보기</span></a> <!-- //캠핑장 살펴보기 버튼 -->
            <div class="main-sharebtn-box">
                <a href="javascript:void(0);" class="main-btn__share-facebook"><span class="txt-hidden">페이스북으로 공유하기</span></a>
                <a href="javascript:void(0);" class="main-btn__share-kakao"><span class="txt-hidden">카카오스토리로 공유하기</span></a>
                <a href="javascript:void(0);" class="main-btn__share-blog"><span class="txt-hidden">블로그로 공유하기</span></a>
                <a href="javascript:void(0);" class="main-btn__share-url"><span class="txt-hidden">url 복사하기</span></a>
            </div> <!-- //공유하기 버튼 -->
            <a href="javascript:void(0);" class="main-btn__download"><span class="txt-hidden">이미지 다운로드</span></a> <!-- //이미지 다운로드 버튼 -->
            <a href="applyForm.html" class="main-btn__apply"><span class="txt-hidden">신청하기</span></a> <!-- //신청하기 버튼 -->
        </main>
        <footer>
            <div class="grid1170">
                <div class="ft-wrap flex-box flex-spc__btw flex-align__cnt">
                    <div class="ft-info-box">
                        <span class="ft-info copyright fs14">COPYRIGHT(C) SAMSUNG. ALL RIGHTS RESERVED.</span>
                        <span class="ft-info fs14">운영사무국 : 02-1234-5678</span>
                    </div>
                    <div class="ft-btn-box">
                        <a href="policy.html" class="ft-btn fs14">개인정보처리방침</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>